h1 {
  color: red;
  margin-left: 50px;
}

.sidebar{

  width:150px;
  height: 650px;
  line-height: 750%;
  border-style: groove;
  border-color: blue;
  float: left;
}

.body{

  width: 1500px;
  height: 650px;
  border-style: groove;
  border-color: green;

}

.picture{
  text-align: center;
  margin: auto;
}
