<!-- see index.html for in depth comments, this is just a reimplementation of that at the moment -->


<!DOCTYPE html>
<!-- Open Source Template Credit: StartBootstrap -->
<html lang="en">

<link href = "/static/css/simple-sidebar.css" rel = "stylesheet">
<link href = "/static/css/bootstrap.min.css" rel = "stylesheet">


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <title>Beginners Guide</title> <!-- Placeholder-->


</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"> Options: </div>
      <div class="list-group list-group-flush">
        <a href="{% url 'home' %}" class="list-group-item list-group-item-action bg-light">Home</a>
        <a href="{% url 'characterCreator' %}" class="list-group-item list-group-item-action bg-light">Character Creator</a>
        <a href="{% url 'battleSim' %}" class="list-group-item list-group-item-action bg-light">Battle Simulator</a>
        <a href="{% url 'beginnersGuide' %}" class="list-group-item list-group-item-action bg-dark">Beginner's Guide</a>
        <a href="{% url 'info' %}" class="list-group-item list-group-item-action bg-light">Info</a>

      <!--  <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Status</a> -->
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <!-- Menu Toggle Button -->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:8000/login/">Login</a>
            </li>

          </ul>
        </div>
      </nav>


      <div class="container-fluid">

       
        <!-- <img src = "https://mpng.pngfly.com/20180127/eyq/kisspng-ink-chinese-dragon-ink-dragon-5a6c48012ffd17.0315307415170457611966.jpg"> -->
        <!--<p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p> -->
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->
	  <h1>Welcome to Pathfinders!</h1>
        <p>
            This page you now find yourself in is to serve as your introduction to [Project Name], a handy web application
            deisgned to act as an quick and easy character creator and simulator for the Pathfinder tabletop role playing game.
        </p>
        <p>
            For those unfamiliar with the name, "Pathfinder" is a popular third-party tabletop-based role playing game, made by 
            Paizo Publishing. Like its first-party predecessor: Dungeons and Dragons from Wizards of the Coast, Pathfinder takes place
            in a setting full of fantastical heroes, magicians, monsters, and gods. Proceeding down a campaign of your choosing, you 
            and your fellow players embark on adventures through this world, overcoming challenges and seizing great riches. 
            The failure or success of your actions is determined by the results of various dice rolls, further modified by the stats 
            and skills of your own party, and the traits of the enemies you face along the way.
        </p>
        <p>
            In this application, you can design your character in line with the in-game character sheets. You can save these characters
            to your device, and also use them in this site's battle simulator, which will pit your character against an in-game enemies, 
            such as the Sea Snake, Devil Dog, Dark Slayer, and Aboleth, among others, and relay the results back to you in text form.
        </p>
  <!-- Bootstrap core JavaScript -->


  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
